<h1>Mijn profiel</h1>

<div class="row">
  <div class="col-md-offset-0 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <strong>
        <p>Jouw opgeslagen recepten
        </strong><br></br>
        Aantal recepten: 
        <strong>
        <%= @pins.count %>
        </strong></p>
        </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>  
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
          <div class="panel-body">
          <strong><p><%= pin.description %></p></strong>
          <p><%= link_to 'Bekijk recept', pin_path(pin) %></p>
            <% if pin.user == current_user %>
              <div class="actions">
                <p><span class="glyphicon glyphicon-heart"></span>
                Mmmmmm! </p> 
                  <div class="btn-group.pull-right">
                  <%= link_to 'Wijzig', edit_pin_path(pin), class:"btn btn-default" %>
                  <%= link_to 'Verwijder', pin_path(pin), method: :delete, data: { confirm: 'Weet je het zeker?' }, class:"btn btn-default" %>
                  </div>
              </div>
            <% end %>
          </div>
    </div>
  <% end %>


<% else %>
<%= render 'pages/login' %>
<% end %>