  <% if user_signed_in? %>  
  <div id="pins" class="transitions-enabled">
  <%= @pin.find_liked_items.each do |liked_item| %>
      <div class="box panel panel-default">
          <%= link_to image_tag(pin.image.url(:medium)), liked_item %>
            <div class="panel-body">
            <strong><p><%= pin.description %></p></strong>
            <p><%= link_to 'Bekijk recept', pin_path(liked_item) %></p>
      </div>
    <% end %>


  <% else %>
  <%= render 'pages/login' %>
  <% end %>