<% if user_signed_in? %>  
    <h1>Mijn recepten</h1>
    <p>Bekijk hier jouw recepten die je zelf hebt toegevoegd aan Altijd Heerlijk.</p> 
          <div id="pins" class="transitions-enabled">
            <% @pins.each do |pin| %>
                  <div class="box panel panel-default">
                        <div class="panel-body">
                              <b>Recept: </b>
                              <p><%= link_to pin.description, pin_path(pin) %></p>
                              <b>Toegevoegd door: </b>
                              <p><%= link_to image_tag(pin.user.image_file_name), pin %></p>
                              <div class="actions">
                                          <% if pin.user == current_user %>
                                                <div class="btn-group.pull-right">
                                                <%= link_to pin_path(pin), class: "btn btn-info btn-sm" do %>
                                                <span class="glyphicon glyphicon-fullscreen"></span>
                                                Bekijk recept
                                                <% end %>
                                                <br></br>
                                                <%= link_to edit_pin_path(pin), class: "btn btn-primary btn-sm" do %>
                                                <span class="glyphicon glyphicon-edit"></span>
                                                Wijzig recept
                                                <% end %>
                                                </div>
                                          <% end %>
                              </div>
                        </div>
                  </div>
            <% end %>
        </div>
<% else %>
    <%= render 'pages/login' %>
<% end %>
