<p><%= link_to 'Terug', pins_path %></p>
<div class="row">
  <div class="col-md-offset-0 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
      	         <p><b>Recept: </b><%= @pin.description %></p>
                  <p><b>Toegevoegd door: </b></p>
                  <p><%= link_to image_tag(@pin.user.image_file_name), @user %></p>
                  <p><b>Favoriet recept van: </b></p>
                    <% @pin.votes_for.voters.each do |p| %> 
                    <%= image_tag(p.image :thumb) %> 
                  <% end %>

                    <% @pin.votes_for.voters.each do %> 
                     <p><%= link_to image_tag(@pin.user.image_file_name), @user %></p>
                  <% end %>

                  <br></br>
                  <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-heart"></span>
                    Vind ik lekker
                  <% end %>
      </div>
                  <div class="panel-body">
                  <p><strong>Ingrediënten:</strong>
                  <%= @pin.ingredients2 %></p>
                  <p><strong>Bereidingswijze:</strong>
                  <%= @pin.preparation %></p>
                  <p><strong>Foto van recept:</strong></p>
                	<%= image_tag @pin.image.url(:medium) %>  <br>   
                  </div>
            </div>    
        </div>
    </div>
  </div>
</div>


