<h1>Gebuikers volgen</h1>

<% if user_signed_in? %>  
<div id="pins" class="transitions-enabled">
  <% @user.each do |user| %>
    <div class="box panel panel-default">
          <div class="panel-body">
          <%= link_to image_tag(user.image.url(:medium)), user %>
                <div class="actions">
               	<p><%= user.name %></p></p>
               	<p><%= user.email %></p></p>
                <p><%= link_to 'Bekijk profiel', user_path(user) %></p>
                <span class="glyphicon glyphicon-cutlery"></span>
                <strong>Volg gebruiker</strong>
              </div>
          </div>
    </div>
  <% end %>
</div>
<% else %>
<%= render 'pages/login' %>
<% end %>