<% if user_signed_in? %>  
<h1>Vrienden</h1>
<p>Bekijk hier al jouw Facebook vrienden die lid zijn van Altijd Heerlijk. <br>
    

<div id="pins" class="transitions-enabled">
  <% @user.each do |user| %>
        <div class="box panel panel-default">
                <div class="panel-body">
                        <div class="actions">
                        <strong><p><%= user.name %></p></strong>
                        <p><%= link_to image_tag(user.image_file_name), user %></p>
                        <p>Aantal eigen recepten: <b><%= user.pins.count %></b></p>
                        <p>Aantal favoriete recepten:
                        <b></b></p>
                        <p><%= link_to 'Bekijk profiel van deze chef', user_path(user) %></p>
                        </div>
                </div>
          </div>
    <% end %>
</div>
<strong> Tip: </strong> Nodig je vrienden uit op Facebook om ook hun recepten toe te voegen aan Altijd Heerlijk. <iframe src="//www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fomr-altijdheerlijk.herokuapp.com%2F&amp;layout=button&amp;appId=302173199991610" scrolling="no" frameborder="10" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
<% else %>
<%= render 'pages/login' %>
<% end %>