<p><%= link_to 'Terug', users_path %></p>
<div class="row">
  <div class="col-md-offset-0 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
        Bekijk hier de recepten van chef: 
        <br></br><strong><%=@user.name %>.</strong>
        <div class="panel-body">
          <%= image_tag @user.image.url(:thumb) %>
            <br></br><span class="glyphicon glyphicon-cutlery"></span>
            Volg deze chef</br>
            <br>Aantal recepten van deze chef: <strong><%= @user.pins.count %></strong></br>
            </div>
        </div>
      </div>
    </div>
  </div>

<h1>Toegevoegde recepten</h1>
<div id="pins" class="transitions-enabled">
<% if user_signed_in? %> 
  <% @user.pins.each do |pin| %>
          <div class="box panel panel-default">
          <%= link_to image_tag(pin.image.url(:medium)), pin %>
              <div class="panel-body">
              <strong>Recept:</strong>
              <p><%= link_to pin.description, pin %></p></p>
                <div class="actions">
                <strong>Toegevoegd door:</strong>
                <p><%= pin.user.name if pin.user %></strong></p>
                </div>     
              </div>
          </div>
  <% end %>
</div>

<% else %>
<%= render 'pages/login' %>
<% end %>