<p><%= link_to 'Terug', users_path %></p>
<% if user_signed_in? %>  
<h1><%=@user.name %></h1> 

<%= link_to "Stop volgen", user_unfollow_path(@user), :method => :delete, :class => "btn btn-sm btn-danger", :remote => true %>   


  <br></br><p>Bekijk hier de recepten van <b><%=@user.name %></b>.
    <div id="pins" class="transitions-enabled">
              <% @user.pins.each do |pin| %>
                <div class="box panel panel-default">
                    <div class="panel-body">
                      <div class="actions">
                      <b>Recept:</b>
                      <p><%= link_to pin.description, pin %></p>
                      <b>Toegevoegd door:</b>
                      <p><%= link_to image_tag(@user.image_file_name), pin.user %></p>
                      </div>   
                    </div>
                </div>
              <% end %>
              <% @user.find_liked_items.each do |pin| %>
                <div class="box panel panel-default">
                    <div class="panel-body">
                      <div class="actions">
                      <b>Recept:</b>
                      <p><%= link_to pin.description, pin %></p>
                      <b>Toegevoegd door:</b>
                      <p><%= link_to image_tag(@user.image_file_name), pin.user %></p>
                      </div>   
                    </div>
                </div>
            <% end %>
    </div>
<% else %>
<%= render 'pages/login' %>
<% end %>