<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Inloggen</h1>
    </div>
  </div>

<div class="panel-heading">
  Gebruik je Facebook account
</div>
  <div class="panel-body">
     <%= link_to "Login met Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-info" %><br/>
    <br />
</div>

<div class="panel-heading">
  Of login met je Altijd Heerlijk account
  </div>

  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Wachtwoord" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Onthouden" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>