<p>Hi <%= @pin.user.name %>,</p>

<p>Jouw recept <b><%= @pin.description %></b>, is succesvol toegevoegd aan Altijd Heerlijk. </p>

<p>Wat heb je ingevoerd? <p>
<p><b>Ingrediënten:</b>
<%= @pin.ingredients2 %></p>
<p><b>Bereidingswijze:</b>
<%= @pin.preparation %></p>
<p><b>Foto van recept:</b></p>
<%= image_tag @pin.image.url(:medium) %>  <br>   
</div>

<p>Bekijk of wijzig jouw recept <%= link_to "hier", pin_url(@pin) %>.</p>


<p>Smakelijke groet,</p>

<p>Altijd Heerlijk</p>